@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    font-family: "Josefin Sans";
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0b132b;
    padding-bottom: 30px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    list-style: none;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: #5bc0be;
}

.main-nav {
    text-align: center;
    font-size: 1.3em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
    padding: 0 5%;
}

.singer-name {
    color: white;
    font-family: Anton, sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.singer-name-large {
    font-size: 6em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Metal Mania', cursive;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-singer-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #0b132b;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 35% 1em 37%;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: #5bc0be;
    border-color: #5bc0be;
}

.btn-play {
    display: block;
    margin: 0 auto;
    font-size: 2em;
    border-radius: 4px;
    padding: 0;
    height: 50px;
    width: 75px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    font-weight: bolder;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
    color: white;
    background-color: #5bc0be;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.tour-btn:hover {
    background-color: #0b132b;
}